*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica", sans-serif;
}

@media screen and (max-width: 1024px) {
    .nav {
        flex-basis: 20% !important;
    }

    .aside {
        flex-basis: 20% !important;
    }
}

@media screen and (max-width: 768px) {

    .nav__title,
    .article__title,
    .aside__title {
        margin: 24px !important;
    }

    .main {
        flex-direction: column !important;
    }

    .nav {
        flex-basis: 20% !important;
    }

    .article {
        flex-basis: 150px !important;
    }

    .aside {
        flex-basis: 20% !important;
    }
}